{%  render 'head', pageTitle: pageTitle %}
{% block styles %}{% endblock %}
</head>
    <body>
        <header class="main-header">
            {% render 'navigation', path: path,
                    isAuthenticated: isAuthenticated,
                    csrfToken: csrfToken
            %}
        </header>
        <main>

{% block content %}{% endblock %}
        </main>
    </body>
{% block scrypt %}{% endblock %}
</html>
