{% layout 'main-layout' %}

{% block styles %}
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/forms.css">
{% endblock %}

{% block content %}
    {% if products.length > 0 %}
        <div class="grid">
            {% for product in products %}
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title">
                            {{ product.title }}
                        </h1>
                    </header>
                    <div class="card__image">
                        <img src="https://cdn.pixabay.com/photo/2023/06/16/11/47/books-8067850_960_720.jpg" alt="">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">
                            $19.99
                        </h2>
                        <p class="product__description">
                            Description
                        </p>
                    </div>
                    <div class="card__actions">
                        <button class="btn">Add to Cart</button>
                    </div>
                </article>
            {% endfor %}
        </div>
    {% else %}
        <h1>There are no products</h1>
    {% endif %}
{% endblock %}
