{% layout 'main-layout' %}

{% block content %}
{% if cart.length >= 1 %}
    <ul>
        {% for item in cart %}
        <li>
            <p>{{ item.title }} ({{ item['CartItem.quantity'] }})</p>
            <form action="/cart-delete-item" method="POST">
                <input type="hidden" name="productId" value={{ item.id }}>
                <button type="submit" class="btn">Delete</button>
            </form>
            {% endfor %}
    </ul>
    <hr>
    <div class="centered">
        <form action="/create-order" method="POST">
            <button type="submit" class="btn">Order Now!</button>
        </form>
    </div>
{% else %}
    <h1>There are no products in your Cart</h1>
{% endif %}
{% endblock %}