{% layout 'main-layout' %}

{% block content %}
{% if cart and cart.length >= 1 %}
    <ul>
        {% for product in cart %}
        <li>
            <p>{{ product.title }} ({{ product.quantity }})</p>
            <form action="/cart-delete-item" method="POST">
                <input type="hidden" name="productId" value={{ product._productId }}>
                <button type="submit" class="btn">Delete</button>
            </form>
            {% endfor %}
    </ul>
    <hr>
    <form action="/orders" method="POST">
        <button type="submit" class="btn centered">Order Now</button>
    </form>
{% else %}
    <h1>There are no products in your Cart</h1>
{% endif %}
{% endblock %}