{% layout 'main-layout' %}
{% block content %}
{% if orders.length <= 0 %}
    <h1>There are no orders</h1>
{% else %}
    <ul>
        {% for order in orders %}
            <li>
                <h1>{{ order.id }}</h1>
                <ul>
                    {% for product in order.products %}
                        <li>{{ product.title }} ({{ product.OrderItem.quantity }})</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}